@keyframes logo {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes menu {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes main_title {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes text {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes button_section {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes article_photo {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bottom_logos {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    padding: 0;
    margin: 0;
}

.content_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 166px 53px 166px 198px;
}

.top_menu {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    padding-left: 79px;
    padding-right: 79px;
    padding-top: 39px;

}

.logo_menu {
    display: inline-block;
}

.menu {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    float: right;
    animation: menu 1s;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

.text {
    margin: 0 0 47px;
    vertical-align: middle;
    font-size: 0.8vw;
    line-height: 1.4vw;
    color: #060c31;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    word-wrap: break-word;
    animation: text 1s;
}

.main_title,
.logo {
    font-family: 'Crete Round', sans-serif;
    color: #060c31;
    font-weight: 400;
}

.logo {
    margin-top: 8px;
    font-size: 1.8vw;
    letter-spacing: 2px;
    display: inline-block;
    animation: logo 1s;
}

.content {
    display: inline-block;
}

.main_title {
    font-size: 3vw;
    margin: 0 0 36px;
    letter-spacing: 3px;
    line-height: 3.3vw;
    vertical-align: middle;
    word-wrap: break-word;
    animation: main_title 1s;
}

.article_photo {
    width: 50%;
    height: auto;
    animation: menu 1s;
}

.clear {
    clear: both;
}

.article_button_menu {
    width: 8.6vw;
    height: 2.6vw;
    border-radius: 2.4vw;
    background-color: #ffffff;
    border: 2px solid #ffb0b1;
    font-size: 0.8vw;
    color: #060c31;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.article_button_right {
    width: 8.6vw;
    height: 2.6vw;
    border-radius: 2.4vw;
    background-color: #ffffff;
    border: 2px solid #ffb0b1;
    color: #060c31;
}

.article_button_left,
.article_button_right {
    margin: 0 0 28px;
    font-family: 'Lato', sans-serif;
    font-size: 0.8vw;
    font-weight: 700;
    color: #060c31;
    cursor: pointer;
}

.article_button_left {
    display: inline-block;
    border-radius: 2.4vw;
    background-color: #233fe2;
    box-shadow: none;
    border: none;
    outline: none;
    margin-right: 11px;
    width: 8.6vw;
    height: 2.6vw;
    color: #ffffff;
}

.button_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
    font-size: 0.7vw;
    color: #060c31;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.logo2,
.logo3,
.logo4,
.logo5 {
    margin-left: 6%;
    width: auto;
}

.bottom_logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 39px;
    animation: menu 1s;
}

.button_section {
    animation: menu 1s;
}

@media screen and (max-width: 1024px) {

    .logo {
        font-size: 2.4vw;
    }

    .button_menu {
        font-size: 1.2vw;
    }

    .article_photo {
        width: 49%;
    }

    .content_wrapper {
        width: 84.6vw;
        margin: 20% auto 19%;
    }

    .main_title {
        font-size: 3.6vw;
        line-height: 4.3vw;
        margin: 0 0 15px;
    }

    .text {
        font-size: 1.2vw;
        margin: 0 0 26px;
        line-height: 2.1vw;
    }

    .article_button_menu,
    .article_button_left,
    .article_button_right {
        width: 13.1vw;
        height: 3.8vw;
        border-radius: 2.4vw;
        font-size: 1.2vw;

    }
}

@media screen and (max-width: 768px) {

    .top_menu {
        background: url('../Mix_files/Vector\ 1.png') no-repeat center;
        vertical-align: middle;
        padding-left: 8%;
        padding-right: 8%;
    }

    .logo {
        font-size: 3.2vw;
    }

    .menu {
        display: none;
    }

    .article_photo {
        width: 100%;
        float: none;
    }

    .clear {
        clear: none;
    }

    .content_wrapper {
        width: 84.6vw;
    }

    .main_title {
        font-size: 7.5vw;
        line-height: 8.2vw;
        margin: 0 0 15px;
    }

    .text {
        font-size: 2vw;
        margin: 0 0 26px;
        line-height: 3.5vw;
    }

    .article_button_menu,
    .article_button_left,
    .article_button_right {
        width: 21.5vw;
        height: 6.5vw;
        border-radius: 6vw;
        font-size: 2vw;

    }

    .article_photo {
        float: none;
    }

    .clear {
        clear: none;
    }

.button_menu {
    padding-left: 8%;
    padding-right: 8%;
}
}

@media screen and (max-width: 425px) {

    .bottom_logos {
        display: flex;
    }

    .logo {
        font-size: 5.7vw;
    }

    .main_title {
        font-size: 8.7vw;
        line-height: 8vw;
        margin: 0 0 15px;
        text-align: center;
    }

    .text {
        font-size: 3vw;
        margin: 0 0 26px;
        line-height: 5vw;
        text-align: center;
    }

    .article_button_menu,
    .article_button_left,
    .article_button_right {
        width: 31.5vw;
        height: 9.2vw;
        border-radius: 5.8vw;
        font-size: 2.9vw;
        text-align: center;
    }

    .content_wrapper {
        text-align: center;
    }

    .bottom_logos {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
}